.body{
padding-bottom: 50px;
}
.input{
  width: 80%;
}
.circleActive{
  color: white;
  width: 40px;
  height: 40px;
  background-color: #d4135b;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  color: white;
  width: 40px;
  height: 40px;
  background-color: #1f3e52;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  box-shadow: 5px 10px 18px #888888;
  width: 60%;
  margin-top: 40px;
  height: 100%;
  padding-bottom: 40px;
}
.text{
  font-size: 13px;
  font-weight: 500;
}
.person{
  width: 140px;
  height: 150px;
}
.border{
  height: 2px;
  background-color: darkgray;
  padding-right: 50px;
  padding-left: 50px;
}
.button{
  background: #d4135b;
  padding: 5px 15px 5px 15px;
  width: 14%;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  display: block;
}
.a{
  display: block;
  text-decoration: none;
  color: white;
}
.a:hover{
  text-decoration: none;
  color: white;
}
