.text{
  color: white;
  font-family: Calibri;
  font-size: 20px;
  font-weight: 100;
  transition: 0.5s;
}
.text:hover{
  color: #F88BB8;
}
.logo {
  width:200px;
}
.body{
  background: #1f3e52;
  width: 100%;
  height: 100%;
}


