.login{
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.logo{
width: 180px;
}
.box{
  padding-bottom: 250px;
}
.form{
  padding: 30px 30px 10px 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 8px;
  background-color: white;
}
.float {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  padding: 15px;
  text-align: center;
  display: block;
}
.text{
  margin-bottom: 0;
  color: darkgray;
  font-size: 18px;
  display: block;
  text-decoration: none;
}
.text:hover{
  text-decoration: none;
  display: block;
}
.float:hover{
  background-color: #EEEEEE;
}
.float:hover .text{
  color: #000000;
}
.input{
  width: 100%;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 5px;
  color: #444;
  font-weight: 300;
  border-bottom: 2px solid rgb(255, 111, 111);
  margin-top: 12px;
}
.input:focus{
  outline: none!important;
}
.button{
  background: #d4135b;
  padding: 5px 0;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
}
.button:focus{
  outline: none;
}
.button:hover{
  background-color: #9b0e42;
}
.texts{
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: #d4135b;
}
.texts:hover{
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: #7b0b35;
}
